.containerStyle {
  display: flex;
  align-items: center;
  gap: "16px";
}

.textStyle {
  line-height: 1;
  margin: 0;
}

.starStyle {
  width: 48px;
  height: 48px;
  display: block;
  cursor: pointer;
}
